:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecece7;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container-center {
  width: 75%;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem /* 48px */;
  padding-bottom: 3rem;
}

.button {
  border-radius: 9999px;
  border-color: rgb(0 0 0 / 0.3);
  border-width: 2px;
  padding: 0.2rem 0.8rem;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #16232e;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border-radius: 120px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
